*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  background-color: #111;
  color: #eee;
  padding: 3em;
  text-align: center;
}

h1 {
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 2em;
}

a {
  color: #eee;
}

a:hover,
a:focus {
  color: #aaa;
}

.github {
  position: fixed;
  display: block;
  top: 2em;
  right: 2em;
  text-decoration: none;
  z-index: 1;
}
